.posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.post {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  width: calc(33.33% - 10px);
}

.post img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.post .post-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px;
}

.post .post-description {
  font-size: 1rem;
  margin: 10px;
}

/* Estilos para hacer responsive el navegador de publicaciones */
@media (max-width: 991.98px) {
  .post {
    width: calc(50% - 10px);
  }
}

@media (max-width: 767.98px) {
  .posts-container {
    padding: 10px;
  }

  .post {
    width: 100%;
  }
}
.container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item {
    flex-basis: calc(25% - 10px);
    margin-bottom: 20px;
    text-align: center;
  }

  .item img {
    max-width: 45%;
    height: auto;
  }

  .item h5 {
    margin-top: 20px;
  }

  .item p {
    margin-top: 5px;
  }
  #ventana-float{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: #a0191f;;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
  }
  
  #contador {
    font-weight: bold;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }

  .container2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo img {
    max-width: 100%;
  }

  .info h3 {
    font-size: 24px;
    margin-top: 0;
  }

  .info p {
    margin: 5px 0;
  }

  .social h3 {
    font-size: 24px;
    margin-top: 0;
  }

  .social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .social ul li {
    margin-right: 10px;
  }

  .social ul li:last-child {
    margin-right: 0;
  }

  .social ul li a {
    color: #fff;
    font-size: 24px;
  }

  .social ul li a:hover {
    color: #f5a623;
  }

  @media screen and (max-width: 767px) {
    .container {
      flex-direction: column;
      align-items: center;
    }

    .logo {
      margin-bottom: 20px;
    }

    .social {
      margin-top: 20px;
      text-align: center;
    }
  }
  .sugerencias {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: #fff;
    z-index: 999;
  }

  .sugerencias li {
    padding: 5px;
    cursor: pointer;
  }

  .sugerencias li:hover {
    background-color: #f2f2f2;
  }