
#ventana-float{
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #a0191f;;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  z-index: 9999;
}
.container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.item {
  flex-basis: calc(35% - 10px);
  margin-bottom: 20px;
  text-align: center;
}

.item img {
  max-width: 100%;
  height: auto;
}

.item h5 {
  margin-top: 20px;
}

.item p {
  margin-top: 5px;
}
#ventana-float{
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #a0191f;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  z-index: 9999;
}

#contador {
  font-weight: bold;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.container2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  max-width: 100%;
}

.info h3 {
  font-size: 24px;
  margin-top: 0;
}

.info p {
  margin: 5px 0;
}

.social h3 {
  font-size: 24px;
  margin-top: 0;
}

.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social ul li {
  margin-right: 10px;
}

.social ul li:last-child {
  margin-right: 0;
}

.social ul li a {
  color: #fff;
  font-size: 24px;
}

.social ul li a:hover {
  color: #f5a623;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 20px;
  }

  .social {
    margin-top: 20px;
    text-align: center;
  }
}
.container-imagenes {
  margin-top: 20px;
}
