<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="Img/rayo.ico">
  <title>Rayo Makween Taller</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
    {% load static %}
    <link href="{% static 'CSS/index.css' %}" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js"
    integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
    integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
    crossorigin="anonymous"></script>
  <script>    
  </script>
</head>

<body>
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #a0191f;">
      <div class="container-fluid">
        <a class="navbar-brand" href="Index.html"><img src="{% static 'Img/logotallerrayomkeen.png'%}" alt="Rayo Makween" width="40"
            height="34">Rayo Makween</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link disabled" aria-current="page" href="Index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Trabajos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="trabajosR.html">Trabajos realizados</a></li>
                <li><a class="dropdown-item" href="Agendar.html">Agendar mantenimiento</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="Login.html">Login</a>
            </li>
          </ul>
          <form class="d-flex">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="Buscar" aria-label="Search" id="campo-busqueda">
              <button class="btn btn-light" type="submit">Buscar</button>
            </div>
            <ul id="lista-sugerencias" class="sugerencias"></ul>
          </form>
        </div>
      </div>
    </nav>

  </header>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="6000">
        <a href="TrabajosR.html">
          <img src="{% static 'Img/Autos/LIFAN.jpg'%}" class="d-block w-100" alt="auto">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>LIFAN X60</h5>
          <p>Las pastillasLorem ipsum dolor sit amet consectetur adipisicing elit.
            Quae, quam eveniet magnam, incidunt ducimus saepe ratione qui et voluptas veritatis obcaecati pariatur
            laborum,
            est doloremque possimus quasi. Fuga corporis maiores ipsa placeat exercitationem cupiditate. de freno
            delanteras están desgastadas y necesitan ser reemplazadas.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="TrabajosR.html">
          <img src="{% static 'Img/Autos/BMW.jpg'%}" class="d-block w-100" alt="no se">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>BMW 220i</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quae, quam eveniet magnam, incidunt ducimus saepe ratione qui et voluptas veritatis obcaecati pariatur
            laborum,
            est doloremque possimus quasi. Fuga corporis maiores ipsa placeat exercitationem cupiditate.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="TrabajosR.html">
          <img src="{% static 'Img/Autos/DFM.jpg'%}" class="d-block w-100" alt="no cacho de autos">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>DFM H30 CROSS</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quae, quam eveniet magnam, incidunt ducimus saepe ratione qui et voluptas veritatis obcaecati pariatur
            laborum,
            est doloremque possimus quasi. Fuga corporis maiores ipsa placeat exercitationem cupiditate.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
  <div class="container">
    <div class="item">
      <img src="{% static 'Img/Icons/Mecanico.png'%}" alt="Imagen 1">
      <h5>Mecanica General</h5>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Maxime minus dolore commodi quibusdam enim .</p>
    </div>
    <div class="item">
      <img src="{% static 'Img/Icons/Mantencion.png'%}" alt="Imagen 2">
      <h5>Revision Completa</h5>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Maxime minus dolore commodi quibusdam enim .</p>
    </div>
    <div class="item">
      <img src="{% static 'Img/Icons/Auto.png'%}" alt="Imagen 3">
      <h5>Revision Express</h5>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Maxime minus dolore commodi quibusdam enim .</p>
    </div>
    <div class="item">
      <img src="{% static 'Img/Icons/Aceite.png'%}" alt="Imagen 4">
      <h5>Cambio de aceite</h5>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Maxime minus dolore commodi quibusdam enim .</p>
    </div>
  </div>

  <div id="ventana-float">
    <span id="contador">1</span> personas en línea
  </div>
  <script src="{% static 'JS/Index.js'%}"></script>
  
  <footer>
    <div class="container2">
      <div class="logo">
        <img src="{% static 'Img/logotallerrayomkeen.png'%}" alt="Logo de Rayo Makween">
      </div>
      <div class="info">
        <h3>Rayo Makween</h3>
        <p>Taller mecánico</p>
        <p>Calle Diosito, Santiago</p>
        <p>Teléfono: (569) 5555-5555</p>
        <p>Correo electrónico: info@rayomakween.com</p>
      </div>
      <div class="social">
        <h3>Síguenos en redes sociales</h3>
        <ul>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/flatfis48779026"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>