
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #a0191f;">
    <div class="container-fluid">
      <a class="navbar-brand" href="Index.html"><img src="{% static 'Img/logotallerrayomkeen.png'%}" alt="Rayo Makween" width="40"
          height="34">Rayo Makween</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" href="{% url 'index'%}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'nosotros'%}">Nosotros</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Trabajos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="trabajosR.html">Trabajos realizados</a></li>
              <li><a class="dropdown-item" href="{% url 'agendar'%}">Agendar mantenimiento</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="Login.html">Login</a>
          </li>
        </ul>
        <form class="d-flex">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Buscar" aria-label="Search" id="campo-busqueda">
            <button class="btn btn-light" type="submit">Buscar</button>
          </div>
          <ul id="lista-sugerencias" class="sugerencias"></ul>
        </form>
      </div>
    </div>
  </nav>
